*.git
*.class
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.prx
*.tii
*.tis
*.gen
*.ini
*.history
*.core
*.editors
*.prefs
*.xml
*.json
*.log
*.log[]
*.zip
*.lock
*.index
*.tree
*.resources
*.xmi
*.metadata
*.markers